* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    width: 800px;
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.page__wrapper {
    margin-top: 30px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.page {
    padding: 5px;
    border: 1px solid teal;
    width: 40px;
    text-align: center;
    cursor: pointer;
}

.page__current {
    border: 2px solid gold;
    font-weight: bold;
}